@font-face {
    font-family: 'Spin Cycle';
    font-style: normal;
    font-weight: normal;
    src: local('Spin Cycle'), url('Spin Cycle.ttf') format('truetype');
}

.app {
    text-align: center;
    display: flex;
    flex-direction: column;
}

header {
    height: 13vh;
}

h1 {
    display: inline-block;
    font-family: 'Spin Cycle', 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 4em;
    background: linear-gradient(to right, #216efd 0%, #c739ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    /* color: linear-gradient(90deg, #21a5fd 0%, #c739ff 100%); */
    margin-top: 20px;
    margin-bottom: 0px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading h2 {
    display: inline-block;
    font-family: 'Roboto';
    font-size: 3em;
    background: linear-gradient(to right, #216efd, #c739ff, #216efd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;

    -webkit-animation: titleGradientAnim 2s linear infinite;
    -moz-animation: titleGradientAnim 2s linear infinite;
    animation: titleGradientAnim 2s linear infinite;
}

@-webkit-keyframes titleGradientAnim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes titleGradientAnim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes titleGradientAnim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}